<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>
<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin") || User.IsInRole("HR") || User.IsInRole("User") || User.IsInRole("TeamLead")|| User.IsInRole("Manager"))
        {
            <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
            <li>@Html.ActionLink("Driver", "Index", "Driver")</li>
            <li>@Html.ActionLink("Address", "ViewEmpAddress", "Address")</li>
            <li>@Html.ActionLink("Vechile", "ViewVech", "Vechile")</li>
        }
        else
        {
            <li>@Html.ActionLink("Salaries", "Index", "Salary")</li>
        }
        <li>Dear - @User.Identity.Name</li>
        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
    }
    else
    {
        <li>@Html.ActionLink("Login", "Login", "Account")</li>
    }
</ul>

